<html>
<head>
  <title>Web Demo</title>

  
</head>
<body>
<p>Insert your data <a href="index">Hello</a></p> 

<form method="post" action="user/id_set">
  <h2>First Name:</h2>
  <input type="text" id="your_first_name" name="first_name" />
  <h2>Last Name:</h2>
  <input type="text" id="your_last_name" name="last_name" />
    <h2>Role:</h2>
  <input type="text" id="your_role" name="role" />
    <h2>Email:</h2>
  <input type="text" id="your_email" name="email" />
    <h2>Web Site:</h2>
  <input type="text" id="your_website" name="website" />
  <input href="http://localhost:8090/user/your_id/?first_name=your_first_name&last_name=your_last_name&role=your_role&email=your_email&website=your_website" type="submit" id="say-hello-button" value="Submit" />
</form>
</body>
</html>